
:root{
    --bg-color: rgb(129, 78, 112);
    --text-color: rgb(255, 255, 255);
    --accent-color: rgb(0, 0, 0);
    --fuente-titulos: "skew-variable", sans-serif;
    --fuente-texto: "tonos", sans-serif;
}
html{
    font-size: 14px;
}
body{
max-width: 70ch;   /* Cambia 600px al ancho que prefieras */
 margin: 0 auto;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--fuente-texto);
    font-size: 1.4rem;
}
a{
    color: inherit;   
}
h1, h2, h3, h4, h5, h6{

    font-family: var(--fuente-titulos);
    font-variation-settings: "wght" 400;

}
h1{
    font-size: 4em;
}  

h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}

h4{
    font-size: 1.2em;
}
a{
color: var(--accent-color);
}
a:hover{
   text-decoration: none;
   color: rgb(30, 34, 243);
}

